{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "esnext",
    "paths": {
      "@ai/*": ["./src/ai/*"],
      "@config/*": ["./src/config/*"],
      "@handler/*": ["./src/handler/*"],
      "@lib/*": ["./src/lib/*"],
      "@middleware/*": ["./src/middleware/*"],
      "@util/*": ["./src/util/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
